.teacher-login {
    padding: 30px;
    height: 200px;
    width: 300px;

}

.pass-key-input {
    width: 100%;
}

.close-dialog {
    float: right;
    border: none;
    background-color: white;
}

.verify-btn {
    width: 50%;
    height: 40px;
    margin-top: 5% !important;
    border: none;
    background-color: #5532b4;
    color: white;
    font-size: 15px;
}