<mat-grid-list cols="4" rowHeight="100px" gutterSize='30px'>
    <mat-grid-tile>
      <mat-card class="studentInfo">
        <mat-card-title class="studentInfoTitles">Student Name</mat-card-title>
        <mat-card-subtitle class="studentInfoSub">{{studentName}}</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="studentInfo">
        <mat-card-title class="studentInfoTitles">Teacher</mat-card-title>
        <mat-card-subtitle class="studentInfoSub">{{studentTeacher}}</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="studentInfo">
        <mat-card-title class="studentInfoTitles">Class</mat-card-title>
        <mat-card-subtitle class="studentInfoSub">{{studentClass}}</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="studentInfo">
        <mat-card-title class="studentInfoTitles">Primary Key</mat-card-title>
        <mat-card-subtitle class="studentInfoSub">{{studentPrimaryKey}}</mat-card-subtitle>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>