.mat-grid-list {
    display: block;
    position: relative;
    margin: 50px;
}
  mat-grid-tile {
    display: flex;
    margin-right: 40px !important;
  }

.studentInfo {
  -webkit-box-shadow: 0px 0px 35px -13px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 0px 35px -13px rgba(0,0,0,0.36);
  box-shadow: 0px 0px 35px -13px rgba(0,0,0,0.36);
  width: 100%;
  
}

.studentInfoTitles {
  font-weight: 500 !important;
  font-size: 18px;
  color: #A6ACAF;
}

.studentInfoSub {
  font-size: 25px;
  font-weight: 300;
  color: #343434;
}