
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$component-three-omar-primary: mat-palette($mat-indigo);
$component-three-omar-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$component-three-omar-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$component-three-omar-theme: mat-light-theme((
  color: (
    primary: $component-three-omar-primary,
    accent: $component-three-omar-accent,
    warn: $component-three-omar-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($component-three-omar-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$component-three-omar-primary: mat-palette($mat-indigo);
$component-three-omar-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$component-three-omar-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$component-three-omar-theme: mat-light-theme((
  color: (
    primary: $component-three-omar-primary,
    accent: $component-three-omar-accent,
    warn: $component-three-omar-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($component-three-omar-theme);

/* You can add global styles to this file, and also import other style files */



// Font Import
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
}