.compTitle {
    margin-left: 2%;
    margin-top: 2%;
    font-size: 25px !important;
    color: #747474;
    font-weight: 500;
}
mat-card {
    width: 550px;
    display: inline-block;
}

.takeQuizBtn {
    margin-left: 4% !important;
    margin-bottom: 1% !important;
    margin-top: 0% !important;
    background-color: #328BB4;
    color: white;
}